body {
  margin: 0;
  padding: 0;
  background-color: #2A5252;
  font-family: 'Courier New', Courier, monospace;
}


/* CSS */
.button-1 {
  border-radius: 25px;
  border-style: none;
  color: #FFFFFF;
  cursor: pointer;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 35px;
  line-height: 20px;
  margin: 0;
  padding: 5px 16px;
  text-align: center;
  text-decoration: none;
  margin-left: -50px;

}

.button-1:hover,
.button-1:focus {
  background-color: #F082AC;
}

.textField {
  height: 32px;
  border-radius: 25px;
  width: 200px;
  padding-right: 50px;
  border: none;
  padding-left: 15px;
}
.textField:focus{
  outline: none;
}



/*
#DB5461 - indian red
#FAC8CD* - tee rose
#D7BCC8 - thistle
#98B6B1 - ash grey
#629677 - zomp
#7DA694 - cambridge blue
#FFE066 - naples yellow
#FABC3C - xanthous (yellow)
/